<p>
	Hi <%= @booking.room.user.email %>, <br/>
	Your room <%= @booking.room.name %> has been booked from <%= @booking.start_date %> to <%= @booking.end_date %>.<br/>
	 
	regards,<br/>
	Team Airbnb<br/>
</p>
