<%= form_for @city do |f| %>
<% if @city.errors.any? %>
	<h4>These errors prohitibted the form from being saved: </h4>
	<ul style = "color:red;">
		<% @city.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<label>Name</label>
		<%= f.text_field :name %>
	</div>
	<br/>	
	<%= f.submit 'Submit', class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"  %>
<% end %>