<h3>Listing Cities</h3>

<% if @cities.empty? %>
	<p>No cities found.</p>
<% else %>

	<table border = "1">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Show</th>
			</tr>
		</thead>

		<tbody>
			<% @cities.each_with_index do |city,index|%>
			<tr>
				<td> <%= index + 1 %></td>
				<td> <%= city.name %></td>
				<td> <%= link_to "Show", city_path(city.id) %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<h2><%= link_to "Add city", new_city_path %></h2>